<footer>
  <div class="footer_menu">
    <div class="left">
      <div class="logo">ATK<span>.Ecommerce</span></div>
      <div><a href="mailto:attoukoraange@gmail.com">Email: attoukoraange@gmail.com</a></div>
      <div><a href="tel:+2250707965744">Tel: +225 0707965744</a></div>
      <div>Adresse: Cocody-Blockhauss</div>
    </div>
    <div class="middle">
      <div>Nos services</div>
      <div><a  href="#portable">Portable/Tablette</a></div>
      <div><a href="#electronique">Electronique</a></div>
      <div><a href="#homme">Mode homme</a></div>
      <div><a href="#femme">Mode femme</a></div>
      <div><a href="#cosmetique">Cosmétique</a></div>
    </div>
    <div class="right">
      <div class="partenaire">Nos Partenaires</div>
      <div>Samsung</div>
      <div>Iphone</div>
      <div>Luis Viton</div>
      <div>Blackberry</div>
    </div>
  </div>
  <hr>
  <div class="copy">&copy; Tout droit reservé / Attouk Création</div>
</footer>
</body>

</html>