:root {
  --blue: #007bff;
  --purple: #6f42c1;
  --red: #dc3545;
  --orange: #fd7e14;
  --white: #fff;
  --gray: #6c757d;
  --gray-ciel: #6c757d9e;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  list-style: none;
  text-decoration: none;
  transition: all 0.3s;
}
body {
  background-color: var(--light);
}
header {
  background-color: var(--primary);
}
header .nav_haut {
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}
header .nav_haut div {
  padding: 1rem 1.5rem;
}
header .nav_haut div a {
  color: var(--dark);
  font-size: 1.1rem;
  font-weight: 300;
  padding: 0 1rem;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}
header .nav .logo {
  color: var(--light);
  font-size: 1.1rem;
  font-weight: 300;
}
header .nav .logo span {
  color: var(--dark);
  font-size: 1.3rem;
  font-weight: 700;
}
header .nav .menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header .nav .menu li {
  position: relative;
  padding: 1rem 1.3rem;
}
header .nav .menu li a {
  font-size: 1.3rem;
  color: var(--light);
}
header .nav .menu li a:hover {
  color: var(--dark);
}
header .nav .menu li .panier_qte {
  position: absolute;
  top: -10%;
  left: 10%;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  text-align: center;
  line-height: 1.5rem;
  background-color: var(--light);
  box-shadow: 0px 0px 1px var(--dark);
}
/* ***************************** */
.aff_con {
  width: 90px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aff_con img {
  width: 50%;
  height: 60%;
  object-fit: cover;
  border-radius: 50%;
}
.aff_con span {
  display: block;
  width: 150px;
  color: var(--dark);
}
@media only screen and (max-width: 1350px) {
  header .nav .menu li {
    position: relative;
    padding: 1rem 0.5rem;
}
}
@media only screen and (max-width: 1160px) {

  header .nav {
    display: block;
    margin: auto;
    padding: 0 10%;
}
header .nav .logo {
    color: var(--light);
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
}
header .nav .menu li a {
  font-size: 1rem;
  color: var(--light);
}
.menu_general .left {
  display: none;
  background-color: var(--red);
  padding: 0 10%;
}
.barre_recherche form input {
  height: 3rem;
  width: 60% !important;
  padding: 0 1rem;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  outline: none;
}
.ptit_cont .btn_detail {
  padding: 0.3rem 1rem;
  background-color: var(--blue);
  font-size: 1.2rem;
  font-weight: 500;
  width: 60% !important;
  text-align: center;
  border-radius: 5px;
  margin: auto;
}
.all_produits .produit .contenue .ptit_cont {
  width: 60% !important;
  position: relative;
  padding: 1rem 0;
}
footer .footer_menu {
  background-color: var(--purple);
  padding: 2% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header .nav_haut {
  padding: 0 10%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--white);
}
.aff_con {
  width: 100% !important;
  height: 100%;
}
.aff_con img {
  width: 10%;

  object-fit: cover;
  border-radius: 50%;
}
header .nav_haut div {
  padding: 1rem 1.5rem;
  margin: auto;
}
.nav_haut + div{
  margin: auto;
}
.left{
  margin-bottom: 1rem;
}
.all_produits .produit .contenue {
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.detail_produit .titre_detail {
  text-align: center;
  font-size: 2rem !important;
  font-weight: 500;
  padding: 1rem 0;
}
.detail_produit .detail .right .cat_produit {
  font-size: 1.8rem !important;
  padding: 1rem 0;
}
.detail_produit .detail .right .mar_produit {
  font-size: 1.4rem !important;
  padding: 1rem 0;
}
.detail_produit .detail .right .pour_produit {
  font-size: 1.2rem !important;
}

.detail_produit .detail .right .ajout_produit button {
  font-size: 1.1rem !important;
  padding: 0.2rem;
  border-radius: 5px;
}
.detail_produit .detail .right .ajout_produit button:hover {
 background-color: var(--blue);
}
.voir_panier .panier .envoi form input {
  width: 75% !important;
  margin: 0.5rem !important;

}
.voir_panier tbody td:first-child img {
  height: 40px !important;
}
.voir_panier .titre_panier {
  font-size: 1.5rem !important;
}
.detail_produit .aff_desc_produit {
  font-size: 1.2rem !important;
}
}